$block: 'alert';

.#{$block} {
  margin: 20px 0;
  position: relative;
  font-size: 16px;
  text-align: center;
  display: none;
  padding: 24px;
  text-align: left;
  align-items: center;
  justify-content: flex-start;
  border-radius: 4px;
  transition: all 0.3s ease;
  background-color: $white;
  box-shadow: 6px 6px rgba($danger, 0.30);
  display: flex;
  letter-spacing: 0.5px;
  border: solid 2px $danger;

  p {
    padding: 0;
    margin: 0;
    font-weight: bold;
    color: $danger;
  }

  &__container {
    z-index: 10000;
    position: fixed;
    left: 30px;
    bottom: 30px;
    max-width: 350px;
  }

  &--success {
    border-color: transparent;
    box-shadow: 6px 6px rgba($black, 0.10);
    background: $black;

    p {
      color: $white;
    }
  }
}
