$block: 'check-email';

.#{$block} {
  &__text {
    font-size: 24px;
    color: rgba($default-text-color, 0.7);
    margin-bottom: 24px;
    max-width: 90%;

    @include mobile() {
      max-width: 100%;
      font-size: 18px;
      margin-bottom: 16px;
    }
  }

  &__small {
    small {
      color: $blue-dark;
      font-size: 16px;

      @include mobile() {
        font-size: 14px;
      }
    }
    margin-top: 32px;

    @include mobile() {
      margin-top: 24px;
    }
  }

  &__link {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
  }
}