$block: 'forgot-pass';

.#{$block} {
  background: $white;
  box-shadow: 8px 8px rgba($primary-color, 0.10);
  border: solid 1px rgba($primary-color, 0.10);
  padding: 44px;
  min-height: 440px;
  border-radius: 4px;

  @include mobile() {
    min-height: auto;
    padding: 32px;
  }

  &__wrapper {
    width: 100%;
    min-height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
  }

  &__title {
    font-size: 45px;
    line-height: 50px;
    max-width: 80%;
    margin-bottom: 32px;

    @include mobile() {
      max-width: 100%;
      font-size: 28px;
      line-height: 30px;
      margin-bottom: 24px;
    }
  }
}