$block: 'reset-user';

.#{$block} {
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  &__picture {
    $size: 50px;
    background-position: center;
    width: $size;
    height: $size;
    min-width: $size;
    min-height: $size;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: $gray-light;
    border-radius: 100%;
    border: solid 4px $white;
    box-shadow: 0 0 0 4px $primary-color;
    margin-right: 16px;

    @include mobile() {
      $size: 40px;
      width: $size;
      height: $size;
      min-width: $size;
      min-height: $size;
      box-shadow: 0 0 0 3px $primary-color;
      border-width: 2px;
    }
  }

  &__name {
    padding: 0;
    margin: 0;
    font-size: 18px;

    @include mobile() {
      font-size: 16px;
      margin-bottom: 6px;
    }
  }

  &__username {
    color: $primary-color;
    font-weight: 400;
    font-size: 14px;
    font-family: $primary-font-family;
    padding: 0;
    margin: 0;

    @include mobile() {
      font-size: 12px;
    }
  }
}