$block: 'signup';

.#{$block} {
  min-height: calc(100vh - 70px);
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile() {
    padding: 40px 0;
  }

  &__head {
    max-width: 600px;
    z-index: 1;
    position: relative;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 24px;
    color: rgba($default-text-color, 0.7);
    margin-bottom: 24px;
    max-width: 90%;

    @include mobile() {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }

  &__text {
    max-width: 450px;
    font-size: 18px;
    line-height: 25px;
    color: rgba($default-text-color, 0.6);

    span {
      font-weight: bold;
    }

    @include mobile() {
      font-size: 16px;
      line-height: 18px;
    }
  }

  &__card {
    background: $white;
    border: solid 1px rgba($primary-color, 0.2);
    box-shadow: 6px 6px rgba($primary-color, 0.2);
    padding: 24px 16px;
    width: 100%;
    max-width: 290px;
    margin-top: 32px;
    border-radius: 4px;

    &-title {
      color: $primary-color;
      font-weight: 400;
      font-size: 18px;
      font-family: $primary-font-family;
      margin-bottom: 16px;
    }

    &-text {
      max-width: 85%;
      margin-bottom: 16px;
    }
  }
}