$block: 'auth';

.#{$block} {
  &__page {
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    padding: 40px 0;
  }

  &__container {
    background: $white;
    border-radius: $radius-container;
    box-shadow: rgba($black, 0.02) 0 8 16px;
    margin: 80px 0;

    @include mobile() {
      margin: 40px 0;
    }
  }

  &__row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__image {
    padding: 40px;

    @include mobile() {
      padding: 0 60px;
      text-align: center;

      img {
        max-width: 400px;
      }
    }
  }

  &__title {
    @include mobile() {
      text-align: center;
      margin: 24px 0;
    }
  }
}
