/* ---------------------- */
/*  Color palettes */
/* ---------------------- */

$blue-dark: #0B3978;
$orange: #F89B1C;
$blue: #559AFF;
$black: #363636;
$white: #ffffff;
$gray: #cfcfcf;
$blue-light: #F5F8FA;
$gray-light: #F9F9FB;
$danger: #F36986;
$warning: $orange;
$success: #4fd69c;

$primary-color: $blue;
$secound-color: $blue-dark;
$default-text-color: $black;

/* ------------------------------------------------------------ */
/* Font family */
/* ------------------------------------------------------------ */

$primary-font-family: 'Poppins', sans-serif;
$secondary-font-family: 'Lato', sans-serif;

/* ------------------------------------------------------------ */
/* Breakpoints */
/* ------------------------------------------------------------ */

// Small devices (landscape phones, 576px and up)
$sm: 576px;
// Medium devices (tablets, 768px and up)
$md: 768px;
// Large devices (desktops, 992px and up)
$lg: 992px;
// Extra large devices (large desktops, 1200px and up)
$xl: 1200px;

// z-index
$z-index-1: 10000;
$z-index-2: 1000;
$z-index-3: 900;

// Padding del Header y body
$header-height: 70px;


/* ------------------------------------------------------------ */
/* Border radius */
/* ------------------------------------------------------------ */
$radius-container: 30px;